.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1;
}

section {
  padding: 100px 0;
}

@media (max-width: 768px) {
  section {
    padding: 64px 0;
  }
}
